@model DemoInven.Models.Supplier

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table style="border:double; width:640px;margin:50px;margin-left:140px;">
            <thead>
                <tr style="text-align:center">
                    <td colspan="2" style="text-align:center">
                        <label style="text-align:center"><b>New Supplier</b></label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding:20px">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            
                    </td>
                    <td style="padding:20px">

                            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label" })
                            
                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                          
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                         
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                           
                    </td>
                    <td style="padding:20px">
                            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label" })
                            
                                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                            
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px">
                            @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label" })
                            
                                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                           
                    </td>
                    <td style="padding:20px">
                            @Html.LabelFor(model => model.ContactPersonDesignation, htmlAttributes: new { @class = "control-label" })
                            
                                @Html.EditorFor(model => model.ContactPersonDesignation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContactPersonDesignation, "", new { @class = "text-danger" })
                            
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px"></td>
                    <td style="padding:20px"><input type="submit" value="Create" class="btn btn-default pull-right" /></td>
                </tr>
            </tbody>
                        
        </table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
